{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form class="form-horizontal" role="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="control-label col-sm-2">
                <label for="username">Username</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="name" placeholder="Username" id="username" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2">
                <label for="password">Password</label>
            </div>
            <div class="col-sm-10">
                <input type="password" name="password" placeholder="Password" id="password" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>

    </form>
{% endblock %}