{% load static %}<!doctype HTML>
<html>
    <head>
        <title>InOut - {% block title %}{% endblock %}</title>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="{% static "css/main.css" %}" rel="stylesheet" />
        <script src="{% static "js/main.js" %}"></script>
{% block script %}

{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'overview' %}">InOut</a>
                </div>
{% if user.is_authenticated %}
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a> 
				<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
					<li><a href="">Change password</a></li>
					<li role="presentation" class="divider"></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
			</li>
		</ul>
{% endif %}
          </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
