      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete item &quot;{{ item.desc }}&quot;</h4>
      </div>
      <div class="modal-body">
        Do you really want to delete the item with the description &quot;{{ item.desc }}&quot; from {{ item.date }} with the amount of {{ item.amount }} &euro;?
      </div>
      <div class="modal-footer">
        <form method="get" action="{% url "item_delete" id=item.id %}">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
