{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load my_filters %}

{% block title %}Overview{% endblock %}

{% block content %}
<table class="table table-bordered">
    <form method="post" action="{% url 'item_create' %}">
        {% csrf_token %}
        <thead>
          <tr>
            <th class="field-label col-md-3 active">
              <label>name</label>
            </th>
            <th class="field-label col-md-2 active">
              <label>date</label>
            </th>
            <th class="field-label col-md-1 active debit">
              <label>debit</label>
            </th>
            <th class="field-label col-md-1 active credit">
              <label>credit</label>
            </th>
            <th class="field-label col-md-2 active">
              <label>total</label>
            </th>
            <th class="field-label col-md-1 active option">
              <label>options</label>
            </th>
          </tr>
          <tr>
            <th class="col-md-3">
        {{ form.desc.errors }}
                <div class="input-group">
                    {% render_field form.desc class="form-control" %}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                </div>
            </th>
            <th class="col-md-1">
        {{ form.date.errors }}
                <div class='input-group' id='datetimepicker2'>

                    {% render_field form.date class="form-control" type="date" %}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </th>
            <th class="col-md-1" colspan="2">
        {{ form.amount.errors }}
                <div class="input-group">
                    {% render_field form.amount class="form-control" type="number" step="0.01" %}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                </div>
            </th>
            <th class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" value="{{ total }}" readonly/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                </div>
            </th>
            <th class="col-md-1">
                <button type="submit" class="btn">Send</button>
            </th>
          </tr>
        </thead>
    </form>

    <tbody>
{% for item in items %}
      <tr>
        <td class="col-md-3">
            {{ item.desc }}
        </td>
        <td class="col-md-2">
            {{ item.date }}
        </td>
        <td class="col-md-1 debit">
            {% if item.amount <= 0 %}
                {{ item.amount }}
            {% endif %}
        </td>
        <td class="col-md-1 credit">
            {% if item.amount > 0 %}
                {{ item.amount }}
            {% endif %}
        </td>
        <td class="col-md-1 {% if total_per_line|lookup:item.id > 0 %}credit{% else %}debit{% endif %}">
            {{ total_per_line|lookup:item.id }}
        </td>
        <td class="col-md-1">
            <a href="{% url 'item_update' id=item.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="deleteItem" href="{% url 'item_delete_modal' id=item.id %}"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
{% endfor %}
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static "js/ovmodal.js" %}"></script>
{% endblock %}
